USE [master]
GO
/****** Object:  Database [SecretariaDB]    Script Date: 04/02/2026 6:27:07 ******/
CREATE DATABASE [SecretariaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecretariaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SecretariaDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecretariaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SecretariaDB_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecretariaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecretariaDB]
GO
USE [SecretariaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Oficina_Normaliza]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_Oficina_Normaliza] (@s varchar(100))
RETURNS varchar(200)
AS
BEGIN
    DECLARE @x varchar(200) = UPPER(LTRIM(RTRIM(ISNULL(@s,''))));

    /* 1. Limpieza básica de caracteres invisibles */
    SET @x = REPLACE(@x, CHAR(9),  ' ');
    SET @x = REPLACE(@x, CHAR(10), ' ');
    SET @x = REPLACE(@x, CHAR(13), ' ');
    SET @x = REPLACE(@x, CHAR(160),' ');

    /* 2. Quitar tildes y caracteres especiales */
    SET @x = REPLACE(@x,'Á','A'); SET @x = REPLACE(@x,'É','E'); SET @x = REPLACE(@x,'Í','I'); SET @x = REPLACE(@x,'Ó','O'); SET @x = REPLACE(@x,'Ú','U');
    SET @x = REPLACE(@x,'À','A'); SET @x = REPLACE(@x,'È','E'); SET @x = REPLACE(@x,'Ì','I'); SET @x = REPLACE(@x,'Ò','O'); SET @x = REPLACE(@x,'Ù','U');
    SET @x = REPLACE(@x,'Ñ','N');
    SET @x = REPLACE(@x,'º',''); SET @x = REPLACE(@x,'°',''); -- Simbolos de grado/numero

    /* 3. Normalizar abreviaturas de Numero */
    SET @x = REPLACE(@x,'Nº','');
    SET @x = REPLACE(@x,'N°','');
    SET @x = REPLACE(@x,'NRO.','');
    SET @x = REPLACE(@x,'NRO','');
    SET @x = REPLACE(@x,'NUM.','');
    SET @x = REPLACE(@x,'NUM','');

    /* 4. Correcciones de Typos comunes (Tus datos específicos) */
    SET @x = REPLACE(@x,'COOORDNACION','COORDINACION');
    SET @x = REPLACE(@x,'COOREDINACION','COORDINACION');
    SET @x = REPLACE(@x,'CORRDINACION','COORDINACION');
    SET @x = REPLACE(@x,'COORDIANCION','COORDINACION');
    SET @x = REPLACE(@x,'OEPRATIVA','OPERATIVA');
    SET @x = REPLACE(@x,'LOGISITICA','LOGISTICA');
    SET @x = REPLACE(@x,'DEPOCITO','DEPOSITO');
    SET @x = REPLACE(@x,'GUADIA','GUARDIA');
    SET @x = REPLACE(@x,'DUARDIA','GUARDIA');
    SET @x = REPLACE(@x,'UNDIDAD','UNIDAD');
    SET @x = REPLACE(@x,'LETARDO','LETRADO');
    SET @x = REPLACE(@x,'EJEUCION','EJECUCION');
    SET @x = REPLACE(@x,'EJECUCCION','EJECUCION');
    SET @x = REPLACE(@x,'VIGINANCIA','VIGILANCIA');

    /* 5. Reemplazo de puntuación por espacios */
    SET @x = REPLACE(@x,'.',' '); SET @x = REPLACE(@x,',',' '); SET @x = REPLACE(@x,';',' '); 
    SET @x = REPLACE(@x,':',' '); SET @x = REPLACE(@x,'-',' '); SET @x = REPLACE(@x,'_',' ');
    SET @x = REPLACE(@x,'(',' '); SET @x = REPLACE(@x,')',' '); SET @x = REPLACE(@x,'''',' '); SET @x = REPLACE(@x,'"',' ');

    /* === MEJORA: ELIMINAR PALABRAS VACÍAS (PREPOSICIONES) === */
    /* Esto permite unir "OFICINA DE JURIDICA" con "OFICINA JURIDICA" */
    SET @x = REPLACE(@x, ' DE ', ' ');
    SET @x = REPLACE(@x, ' DEL ', ' ');
    SET @x = REPLACE(@x, ' LA ', ' ');
    SET @x = REPLACE(@x, ' LAS ', ' ');
    SET @x = REPLACE(@x, ' EL ', ' ');
    SET @x = REPLACE(@x, ' LOS ', ' ');
    SET @x = REPLACE(@x, ' Y ', ' ');

    /* 6. Colapsar espacios dobles recursivamente */
    WHILE CHARINDEX('  ', @x) > 0
        SET @x = REPLACE(@x,'  ',' ');

    RETURN LTRIM(RTRIM(@x));
END;
GO
/****** Object:  Table [dbo].[Cat_Estado]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ColorHex] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Oficina]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Oficina](
	[IdOficina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EsExterna] [bit] NULL,
	[Direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Oficina_Backup_20260203_093509]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Oficina_Backup_20260203_093509](
	[IdOficina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EsExterna] [bit] NULL,
	[Direccion] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Oficina_MergeLog]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Oficina_MergeLog](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[IdFrom] [int] NULL,
	[IdTo] [int] NULL,
	[NombreFrom] [varchar](100) NULL,
	[NombreTo] [varchar](100) NULL,
	[Reason] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_TipoDocumento]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_TipoDocumento](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[EsInterno] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Usuario]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[UsuarioLogin] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
	[Clave] [varchar](255) NULL,
	[Rol] [varchar](50) NULL,
	[IdOficina] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UsuarioLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventosSistema]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventosSistema](
	[IdEvento] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaEvento] [datetime] NULL,
	[Descripcion] [varchar](500) NULL,
	[Modulo] [varchar](100) NULL,
 CONSTRAINT [PK_EventosSistema] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_Documento]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_Documento](
	[IdDocumento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NOT NULL,
	[NumeroOficial] [varchar](50) NULL,
	[NumeroInterno]  AS (concat([IdDocumento],'/',datepart(year,[FechaCreacion]))),
	[Asunto] [varchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaRecepcion] [datetime] NULL,
	[Fojas] [int] NULL,
	[IdDocumentoPadre] [bigint] NULL,
	[IdHiloConversacion] [uniqueidentifier] NOT NULL,
	[IdEstadoActual] [int] NOT NULL,
	[IdOficinaActual] [int] NOT NULL,
	[IdUsuarioCreador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_NumeracionRangos]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_NumeracionRangos](
	[IdRango] [int] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NOT NULL,
	[NombreRango] [varchar](100) NOT NULL,
	[NumeroInicio] [int] NOT NULL,
	[NumeroFin] [int] NOT NULL,
	[UltimoUtilizado] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRango] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_Reclusos]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_Reclusos](
	[IdRecluso] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](200) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecluso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tra_AdjuntoDocumento]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tra_AdjuntoDocumento](
	[IdAdjunto] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumento] [bigint] NOT NULL,
	[StoredName] [nvarchar](200) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[AddedAt] [datetime] NOT NULL,
	[Content] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdjunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tra_Movimiento]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tra_Movimiento](
	[IdMovimiento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumento] [bigint] NOT NULL,
	[FechaMovimiento] [datetime] NULL,
	[IdOficinaOrigen] [int] NOT NULL,
	[IdOficinaDestino] [int] NOT NULL,
	[IdUsuarioResponsable] [int] NULL,
	[ObservacionPase] [nvarchar](500) NULL,
	[IdEstadoEnEseMomento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bandeja_Rapida]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Bandeja_Rapida] ON [dbo].[Mae_Documento]
(
	[IdOficinaActual] ASC,
	[IdEstadoActual] ASC
)
INCLUDE([FechaRecepcion],[NumeroOficial],[Asunto],[IdTipo]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Busqueda_Asunto]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Busqueda_Asunto] ON [dbo].[Mae_Documento]
(
	[Asunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documento_Padre]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Documento_Padre] ON [dbo].[Mae_Documento]
(
	[IdDocumentoPadre] ASC
)
WHERE ([IdDocumentoPadre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HiloConversacion]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_HiloConversacion] ON [dbo].[Mae_Documento]
(
	[IdHiloConversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NumeroOficial]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_NumeroOficial] ON [dbo].[Mae_Documento]
(
	[NumeroOficial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Busqueda_Reclusos]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Busqueda_Reclusos] ON [dbo].[Mae_Reclusos]
(
	[NombreCompleto] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_AdjuntoDocumento_Documento]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_AdjuntoDocumento_Documento] ON [dbo].[Tra_AdjuntoDocumento]
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Tra_AdjuntoDocumento_Documento_StoredName]    Script Date: 04/02/2026 6:27:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Tra_AdjuntoDocumento_Documento_StoredName] ON [dbo].[Tra_AdjuntoDocumento]
(
	[IdDocumento] ASC,
	[StoredName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_Documento]    Script Date: 04/02/2026 6:27:07 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_Documento] ON [dbo].[Tra_Movimiento]
(
	[IdDocumento] ASC
)
INCLUDE([FechaMovimiento],[IdOficinaOrigen],[IdOficinaDestino],[IdUsuarioResponsable]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cat_Oficina] ADD  DEFAULT ((0)) FOR [EsExterna]
GO
ALTER TABLE [dbo].[Cat_Oficina_MergeLog] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Cat_TipoDocumento] ADD  DEFAULT ((1)) FOR [EsInterno]
GO
ALTER TABLE [dbo].[Cat_Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cat_Usuario] ADD  DEFAULT ('OPERADOR') FOR [Rol]
GO
ALTER TABLE [dbo].[EventosSistema] ADD  DEFAULT (getdate()) FOR [FechaEvento]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT (getdate()) FOR [FechaRecepcion]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT ((1)) FOR [Fojas]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT (newid()) FOR [IdHiloConversacion]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT ((1)) FOR [NumeroInicio]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT ((0)) FOR [UltimoUtilizado]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Mae_Reclusos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Tra_Movimiento] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cat_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Oficina] FOREIGN KEY([IdOficina])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Cat_Usuario] CHECK CONSTRAINT [FK_Usuario_Oficina]
GO
ALTER TABLE [dbo].[EventosSistema]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_CatUsuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[EventosSistema] CHECK CONSTRAINT [FK_Eventos_CatUsuario]
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdDocumentoPadre])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdEstadoActual])
REFERENCES [dbo].[Cat_Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdOficinaActual])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos]  WITH CHECK ADD  CONSTRAINT [FK_Numeracion_Tipo] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] CHECK CONSTRAINT [FK_Numeracion_Tipo]
GO
ALTER TABLE [dbo].[Tra_AdjuntoDocumento]  WITH CHECK ADD  CONSTRAINT [FK_Tra_AdjuntoDocumento_Mae_Documento] FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tra_AdjuntoDocumento] CHECK CONSTRAINT [FK_Tra_AdjuntoDocumento_Mae_Documento]
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdEstadoEnEseMomento])
REFERENCES [dbo].[Cat_Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdOficinaOrigen])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdOficinaDestino])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdUsuarioResponsable])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
/****** Object:  StoredProcedure [dbo].[sp_UnificarOficinas]    Script Date: 04/02/2026 6:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UnificarOficinas]
    @NombreDestino VARCHAR(200),
    @ListaIdsBorrar VARCHAR(MAX) -- Ej: "765,771,685"
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- 1. Buscar o Crear la Oficina Maestra (Destino)
        DECLARE @IdMaestro INT;
        SET @NombreDestino = LTRIM(RTRIM(@NombreDestino));

        SELECT TOP 1 @IdMaestro = IdOficina FROM Cat_Oficina WHERE Nombre = @NombreDestino;

        IF @IdMaestro IS NULL
        BEGIN
            INSERT INTO Cat_Oficina (Nombre, EsExterna) VALUES (@NombreDestino, 1);
            SET @IdMaestro = SCOPE_IDENTITY();
        END

        -- 2. Convertir la lista de IDs (string) en una tabla real
        -- Usamos XML para compatibilidad con cualquier versión de SQL Server
        DECLARE @xml XML = CAST('<x>' + REPLACE(@ListaIdsBorrar, ',', '</x><x>') + '</x>' AS XML);
        
        DECLARE @IdsTable TABLE (Id INT);
        INSERT INTO @IdsTable
        SELECT x.value('.', 'int') FROM @xml.nodes('/x') AS t(x)
        WHERE x.value('.', 'int') <> @IdMaestro; -- Evitar borrarse a sí mismo

        -- 3. Mover la data (Documentos)
        UPDATE Mae_Documento 
        SET IdOficinaActual = @IdMaestro 
        WHERE IdOficinaActual IN (SELECT Id FROM @IdsTable);

        -- 4. Mover el Historial (Origen)
        UPDATE Tra_Movimiento 
        SET IdOficinaOrigen = @IdMaestro 
        WHERE IdOficinaOrigen IN (SELECT Id FROM @IdsTable);

        -- 5. Mover el Historial (Destino)
        UPDATE Tra_Movimiento 
        SET IdOficinaDestino = @IdMaestro 
        WHERE IdOficinaDestino IN (SELECT Id FROM @IdsTable);

        -- 6. Borrar las oficinas viejas
        DELETE FROM Cat_Oficina 
        WHERE IdOficina IN (SELECT Id FROM @IdsTable);

        COMMIT TRAN;
        SELECT 1 AS Resultado, 'Fusión Exitosa' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SELECT 0 AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
USE [master]
GO
